body {
    color: #000;
    font-family: "Times New Roman", serif;
    min-height: 90vh;
}

.main {
    max-width: 487px;
    margin: auto;
    position: relative;
    padding: 1em;
    text-align: justify;
}

.o-norikovi p:first-child {
    text-indent: 0
}

.rozcestník {
    float: right;
}

p {
    clear: right;
}