body {
    color: #000;
    font-family: "Times New Roman", serif;
    min-height: 100vh;
}

.main {
    max-width: 487px;
    min-height: calc(100vh - 2em);
    margin: auto;
    position: relative;
    padding: 1em;
    text-align: justify;
}

.o-norikovi p:first-child {
    text-indent: 0
}

.rozcestník {
    float: right;
    text-indent: 0;
}

p {
    clear: right;
}

.oznámení {
    margin: 1em 0;
    font-family: "vyhláška", "Bookman Old Style", serif;
    text-align: center;
}

.oznámení .oslovení {
    font-size: 1.5em;
}

.oznámení .úvod {
    margin-bottom: 1em;
}

.oznámení .podpis, .dopsáno-k-vyhlášce .podpis {
    text-align: right;
}

.dopsáno-k-vyhlášce {
    font-family: "narychlo", "Times New Roman", serif;
    font-style: italic;
    margin: 1em 0;
    text-align: center;
}

.konec {
    margin-top: 1em;
    text-align: center;
}