body {
    color: #000;
    font-family: "Times New Roman", serif;
    min-height: 100vh;
    font-size: 18px;
}

.main {
    max-width: 487px;
    min-height: calc(100vh - 2em);
    margin: auto;
    position: relative;
    padding: 1em;
    text-align: justify;
}

.rozcestník {
    float: right;
    text-indent: 0;
    min-width: 2em;
    text-align: right;
    font-weight: bold;
}

p {
    clear: right;
}

.o-norikovi p:first-child {
    text-indent: 0
}

.o-norikovi p:first-child.první-možnost {
    text-indent: 15px;
    margin: 0;
}

.konec {
    margin-top: 1em;
    text-align: center;
}
