.text_7 {
    font-family: "Times New Roman", serif;
    letter-spacing: 0;
    vertical-align: 0
}

.text_8 {
    font-family: "Cambria Math", serif;
    letter-spacing: 0;
    vertical-align: 0
}

.text_11 {
    color: #000;
    letter-spacing: 0;
    vertical-align: 0
}

