.root-path-route .main {
    padding: 0; /* aby mela obalka co nejvic prostoru */
}

.obálka {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    text-align: center;
}

.obálka img {
    border-radius: 3px;
}