.doprovodný-obrázek {
    margin: 2em auto 0;
    display: block;
    max-height: 300px;
}

.malý-obrázek {
    max-width: 60%;
}

.velmi-malý-obrázek {
    max-width: 40%;
}

.obrázek-uprostřed {
    margin-top: 1em;
    margin-bottom: 1em;
}

.obrázek-prostředí {
    margin-top: 2em;
    width: 100%;
    position: relative;
    bottom: 0;
}