.verše {
    margin: 1em 3em;
    font-style: italic;
}

.verše .sloka + .sloka {
    margin-top: 1em;
}

.oznámení {
    margin: 1em 0;
    font-family: "oznámení", "Bookman Old Style", serif;
    text-align: center;
}

.oznámení .oslovení {
    font-size: 1.5em;
}

.oznámení .úvod {
    margin-bottom: 1em;
}

.oznámení .podpis, .dopsáno-k-oznámení .podpis {
    text-align: right;
}

.dopsáno-k-oznámení {
    font-family: "narychlo", "Times New Roman", serif;
    font-style: italic;
    margin: 1em 0;
    text-align: center;
    transform: rotate(1.2deg);
}

.cedule {
    margin: 1em 0.5em;
    letter-spacing: 0;
    font-size: 15px;
    border: 1px solid black;
    text-align: center;
}

.cedule .úvod {
    font-variant: small-caps;
}

.cedule.malá {
    width: max-content;
    margin: 1em auto;
    padding: 0.5em 1em;
    border-width: 2px;
}

.doklad {
    font-style: italic;
    text-align: center;
    margin: 1em 0;
}

.nakřivo-nahoru {
    margin: 2px 0;
    transform: rotate(-0.5deg);
}

.nakřivo-dolů {
    margin: 2px 0;
    transform: rotate(0.5deg);
}