.verše {
    margin: 1em 3em;
    font-style: italic;
}

.verše .sloka + .sloka {
    margin-top: 1em;
}

.oznámení {
    margin: 1em 0;
    font-family: "vyhláška", "Bookman Old Style", serif;
    text-align: center;
}

.oznámení .oslovení {
    font-size: 1.5em;
}

.oznámení .úvod {
    margin-bottom: 1em;
}

.oznámení .podpis, .dopsáno-k-vyhlášce .podpis {
    text-align: right;
}

.dopsáno-k-vyhlášce {
    font-family: "narychlo", "Times New Roman", serif;
    font-style: italic;
    margin: 1em 0;
    text-align: center;
}